<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
    <meta charset="utf-8">
    <title></title>
</head>

<body>
    <h1 style="text-align:center">장고 메인 페이지</h1>
    <h3 style="text-align:center">어딜 들어와 변태 ㅠ</h3>
    <div style="text-align:center">
        <!-- <img src="http://image.kyobobook.co.kr/newimages/giftshop_new/goods/400/1789/S1628487466447.jpg"> -->
        <img src="https://postfiles.pstatic.net/MjAyMTExMDZfMjQ1/MDAxNjM2MTU5NTE4NDM5.Yck7I3G3RjAwsq9KI3mPd6zIOGU0n-8M3oe1uHdJ7AYg.PQZ9P0B7bIbS5StmdVGTWtCEHO8DPELAu6c-mY0KQCgg.JPEG.rlathdwjd123/1111.jpg?type=w966">
    </div>


    <table style="text-align:center">
        <tr>
            <td width="100%">
                <!-- <img src="http://localhost:8000/streaming/"> -->
            </td>
        </tr>
    </table>
</body>

</html>